@using Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models.Blocks
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<IPublishedContent>

@{
    Layout = "main.cshtml";
    var mainImage = Model.Value<IPublishedContent>("mainImage");

}


<div class="py-10 pt-lg-5 pb-lg-12">
    <div class="container">

        <div class="mb-5 mt-5">
            <h4 class="text-secondary"><a href="/shop">Product List</a></h4>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-6">
                <picture>
                    <source media="(max-width: 399px)" srcset="@mainImage.Url()">
                    <source media="(min-width: 400px)" srcset="@mainImage.Url()">
                    <img src="@mainImage.Url()" 
                         alt="Lighting Fixtures - Dazzle Pendant" 
                         loading="lazy" 
                         class="img-fluid mb-3" 
                         width="495" 
                         height="620">
                </picture>
            </div>

            <div class="col-sm-12 col-md-6 ps-md-5">
                <h1>Lighting Fixtures - Dazzle Pendant</h1>
                
                <div class="mt-4">
                    Elevate your space with the Dazzle Pendant Lighting Fixtures - a dazzling and modern illumination solution
                </div>
                
                <div class="row mt-4">
                    <div class="col-12 col-md-4 mt-3 mt-md-0">
                        <button type="button" class="w-100 btn btn-dark btn-lg rounded-0" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                          Get a Quote
                        </button>
                    </div>
                    
                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-body pt-0">
                            <h4 class="my-2 lead">Please complete the form below to get a quotation</h4>
                            <div class="my-2">
                                <script src="https://static.airtable.com/js/embed/embed_snippet_v1.js"></script>
                                <iframe class="airtable-embed" 
                                        src="https://airtable.com/embed/shrCr6EOkJpRhKFpQ?prefill_Product_name=Lighting Fixtures - Dazzle Pendant&prefill_Product_URL=www.abahughes.com/shop/lighting-fixtures-dazzle-pendant/&prefill_Date=2025-11-23&backgroundColor=gray" 
                                        frameborder="0" 
                                        onmousewheel="" 
                                        width="100%" 
                                        height="533" 
                                        style="background: transparent; border: 1px solid #ccc;">
                                </iframe>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-dark btn-lg rounded-0" data-bs-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
                
                <div class="accordion accordion-flush pt-8" id="accordionFlushExample">
                    <div class="accordion-item border-0 mt-1">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed rounded-1 bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                Product Specifications
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <p>
                                    <span class="fw-bold">Product Code</span>: PCDZ2812MBK<br>
                                    <span class="fw-bold">Uniformat/Omniclass Number</span>: <br>
                                    <span class="fw-bold">Series</span>: Dazzle<br>
                                    <span class="fw-bold">Finish</span>: Black<br>
                                    <span class="fw-bold">Dimensions</span>: Width: 11.75 inches, Height: 12.5 inches<br>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item border-0 mt-1">
                        <h2 class="accordion-header" id="flush-headingTwo">
                            <button class="accordion-button collapsed rounded-1 bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                Documentation
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <span class="fw-bold">Cutsheet</span> <br>
                                <span class="fw-bold mt-3">User Manuals</span> <br>
                                <span class="fw-bold mt-3">Catalogues</span> <br>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item border-0 mt-1">
                        <h2 class="accordion-header" id="flush-headingThree">
                            <button class="accordion-button collapsed rounded-1 bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                BIM Files
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <span class="fw-bold mt-3">BIM Files</span><br>
                                <p class="fw-bold mb-1"><a href="/media/0nijio23/lighting-fixtures-dazzle-pendant.rfa">Lighting Fixtures Dazzle Pendant</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <nav class="mt-8">
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-description-tab" data-bs-toggle="tab" data-bs-target="#nav-description" type="button" role="tab" aria-controls="nav-description" aria-selected="true">Description</button>
                </div>
            </nav>
            <div class="tab-pane fade show active py-5" id="nav-description" role="tabpanel" aria-labelledby="nav-description-tab" tabindex="0"><p>Transform your interior with the Dazzle Pendant Lighting Fixtures, an exquisite lighting solution that brings a touch of contemporary elegance to your surroundings. Crafted with precision and style, these fixtures seamlessly blend aesthetics with functionality.</p><p>The Dazzle Pendant Lighting Fixtures are designed to create a captivating ambiance in any room, making them a versatile choice for both residential and commercial spaces. With their dazzling design and energy-efficient features, these fixtures provide long-lasting performance and unparalleled beauty.</p><p>Whether you're looking to upgrade your home lighting or working on lighting projects in Revit family designs, the Dazzle Pendant Lighting Fixtures stand as a symbol of modern sophistication. Their unique design and variety of styles make them a stunning addition to any interior design concept.</p><p>Illuminate your space with the Dazzle Pendant Lighting Fixtures, where contemporary brilliance meets superior illumination.</p></div>
        </div>

    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>