@using Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models.Blocks
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<IPublishedContent>

@{
    Layout = "main.cshtml";
    var mainImage = Model.Value<IPublishedContent>("mainImage");

}


<div class="py-10 pt-lg-5 pb-lg-12">
    <div class="container">

        <div class="mb-5 mt-5">
            <h4 class="text-secondary"><a href="/shop">Product List</a></h4>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-6">
                <picture>
                    <source media="(max-width: 399px)" srcset="@mainImage.Url()">
                    <source media="(min-width: 400px)" srcset="@mainImage.Url()">
                    <img src="@mainImage.Url()" 
                         alt="Charlottesville w/Brass 30&quot; Vanity - Vintage Black" 
                         loading="lazy" 
                         class="img-fluid mb-3" 
                         width="495" 
                         height="620">
                </picture>
            </div>

            <div class="col-sm-12 col-md-6 ps-md-5">
                <h1>Charlottesville w/Brass 30" Vanity - Vintage Black</h1>
                
                <div class="mt-4">
                    Elevate your bathroom with the Charlottesville w/Brass 30" Vanity in Vintage Black - a vintage-inspired, stylish addition
                </div>
                
                <div class="row mt-4">
                    <div class="col-12 col-md-4 mt-3 mt-md-0">
                        <button type="button" class="w-100 btn btn-dark btn-lg rounded-0" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                          Get a Quote
                        </button>
                    </div>
                    
                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-body pt-0">
                            <h4 class="my-2 lead">Please complete the form below to get a quotation</h4>
                            <div class="my-2">
                                <script src="https://static.airtable.com/js/embed/embed_snippet_v1.js"></script>
                                <iframe class="airtable-embed" 
                                        src="https://airtable.com/embed/shrCr6EOkJpRhKFpQ?prefill_Product_name=Charlottesville w/Brass 30&quot; Vanity - Vintage Black&prefill_Product_URL=www.abahughes.com/shop/vanity-charlottesville-w-brass-30-vanity-vintage-black/&prefill_Date=2025-11-23&backgroundColor=gray" 
                                        frameborder="0" 
                                        onmousewheel="" 
                                        width="100%" 
                                        height="533" 
                                        style="background: transparent; border: 1px solid #ccc;">
                                </iframe>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-dark btn-lg rounded-0" data-bs-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
                
                <div class="accordion accordion-flush pt-8" id="accordionFlushExample">
                    <div class="accordion-item border-0 mt-1">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed rounded-1 bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                Product Specifications
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <p>
                                    <span class="fw-bold">Product Code</span>: 1539-V30<br>
                                    <span class="fw-bold">Uniformat/Omniclass Number</span>: <br>
                                    <span class="fw-bold">Series</span>: Fairmont Designs<br>
                                    <span class="fw-bold">Finish</span>: Vintage Black<br>
                                    <span class="fw-bold">Dimensions</span>: <br>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item border-0 mt-1">
                        <h2 class="accordion-header" id="flush-headingTwo">
                            <button class="accordion-button collapsed rounded-1 bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                Documentation
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <span class="fw-bold">Cutsheet</span> 
                                <p class="mb-1"><a href="/media/zamavcpe/1539-v30_072318-1.pdf">1539 V30 072318(1)</a></p>
                                <span class="fw-bold mt-3">User Manuals</span> <br>
                                <span class="fw-bold mt-3">Catalogues</span> <br>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item border-0 mt-1">
                        <h2 class="accordion-header" id="flush-headingThree">
                            <button class="accordion-button collapsed rounded-1 bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                BIM Files
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <span class="fw-bold mt-3">BIM Files</span><br>
                                <p class="fw-bold mb-1"><a href="/media/mmbnpmdq/charlottesville-w-brass-30-vanity-vintage-black.rfa">Charlottesville W Brass 30 Vanity Vintage Black</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <nav class="mt-8">
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-description-tab" data-bs-toggle="tab" data-bs-target="#nav-description" type="button" role="tab" aria-controls="nav-description" aria-selected="true">Description</button>
                </div>
            </nav>
            <div class="tab-pane fade show active py-5" id="nav-description" role="tabpanel" aria-labelledby="nav-description-tab" tabindex="0"><p>Transform your bathroom with the Charlottesville w/Brass 30&quot; Vanity in Vintage Black, a vintage-inspired and stylish addition designed to enhance your bathroom's aesthetics. This elegant vanity seamlessly combines classic charm and modern functionality, providing both timeless appeal and practicality.</p><p>The Charlottesville w/Brass 30&quot; Vanity in Vintage Black is crafted to add a touch of sophistication to your bathroom while offering ample storage and countertop space. Its vintage black finish and brass accents create a stunning focal point in any bathroom, making it a versatile choice for various interior design concepts.</p><p>Whether you're renovating your bathroom or working on remodeling projects in Revit family designs, the Charlottesville w/Brass 30&quot; Vanity stands as a symbol of classic elegance. Its impeccable design and attention to detail make it an essential addition to any bathroom space.</p><p>Enhance your bathroom with the Charlottesville w/Brass 30&quot; Vanity in Vintage Black, where vintage-inspired style meets modern functionality.</p></div>
        </div>

    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>