@using Umbraco.Cms.Core.Models.PublishedContent
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<IPublishedContent>
@{
   var background = Model.Value<IPublishedContent>("background");
}
<div style="background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) ),  url(@backgroundImage.Url()?anchor=center&amp;mode=crop&amp;width=1600&amp;height=400&amp;format=jpg&amp;rnd=132901054968630000); background-size: cover; background-repeat: no-repeat; background-position: center;">
    <div class="container">
        <div class="row align-items-center">
            <div class="pt-18 pb-13 pt-lg-20 pb-lg-19 text-center text-light">
                <h1 class="display-3 text-white mb-3 lh-1">About ABA Hughes</h1>
            </div>
        </div>
    </div>
</div>
<div class="py-10 pt-lg-16 pb-lg-12">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-2 mt-2 mb-4">
                        <div class="float-start me-2" style="background-color: #11B5DA; width:20px; height:20px;">
                        </div>
                        <div clas="fs-6">About ABA Hughes</div>
                    </div>
                    <div class="col-sm-12 col-md-8 mb-10">
                            
    <div class="umb-grid">
                <div class="grid-section">
    <div>
            <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div>
                            
    
<p>ABA Hughes is a dynamic sole proprietorship firm specializing in Information Communication Technology(ICT) and Architectural drafting and design, executing construction projects ranging from basement apartment renovations to 8,000 sq ft custom homes. Founded in 2011 by Brent Hughes, we have evolved into a trusted resource for comprehensive architectural solutions.</p>
<p>Our mission at ABA Hughes is to revolutionize the manufacturing and architectural sector by optimizing resources, including human, financial, and environmental resources. We envision built environments that not only stand as testaments to architectural excellence but also contribute to sustainable communities. This vision was the driving force behind the establishment of ABA Hughes, and it continues to inspire our work today.</p>
<p>As a team of Toronto BIM consultants, we are deeply committed to the principles of Digital Twins and BIM Implementation. Our passion lies in the creation and management of BIM Libraries, including Revit families, to enhance the architectural design and construction processes. We offer a vast array of Revit families free download options in our comprehensive Revit families library, ensuring that our clients have access to the resources they need to bring their visions to life.</p>
<p>At ABA Hughes, we pride ourselves on being at the forefront of technological advancements in the AECO (Architectural, Engineering, Construction and Operations) industry. We understand the significance of BIM libraries, digital twins, and Revit families in streamlining project workflows and improving efficiency. Our commitment to bridging the communication gap between stakeholders ensures that projects progress smoothly from conception to completion.</p>
<p>Our approach emphasizes collaboration and partnership-building to foster inclusivity and stronger representation in the AEC sector. We work closely with designers, manufacturers, sales professionals, facility managers, and client/end users to ensure that each project benefits from our extensive expertise.</p>
<p>ABA Hughes has established a robust system of design rooted in the tested principles of Building Information Modeling (BIM). BIM has emerged as the leading construction methodology for major developments globally, with a particularly strong presence in European and Asian construction sectors. We leverage BIM's power to optimize project life-cycles, drive efficiency, and enhance communication among all stakeholders.</p>
<p>As we look to the future, our journey has only just begun. With a rich background in various consulting industries throughout our AEC career, ABA Hughes remains dedicated to democratizing the industry through enhanced workflow practices and the provision of valuable resources such as Revit families, BIM libraries, and Digital Twins. We invite you to join us on this transformative architectural journey, where innovation, sustainability, and excellence converge.</p>
<p>Explore our extensive Revit families library, download Revit families, and discover how ABA Hughes can elevate your architectural projects through cutting-edge BIM Implementation and Digital Twins. Contact us today to start your journey towards architectural excellence and sustainable communities.</p>


                </div>
            </div>        </div>
            </div>
    </div>
                </div>
    </div>



                    </div>
                </div>
            </div>    
        </div>