@using Umbraco.Cms.Core.Models.PublishedContent
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<IPublishedContent>
@{
   var background = Model.Value<IPublishedContent>("background");
}


<div style="background: url(@background.Url()?anchor=center&amp;mode=crop&amp;width=1600&amp;height=400&amp;format=jpg&amp;rnd=132864992781200000); background-size: cover; background-repeat: no-repeat; background-position: center;">
            <div class="container">
                <div class="row align-items-center">
                    <div class="pt-18 pb-13 pt-lg-20 pb-lg-19 text-center text-light">
                        <h1 class="display-3 text-white mb-3 lh-1">Contact Us</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="py-10 pt-lg-16 pb-lg-12">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-2 mt-2 mb-4">
                        <div class="float-start me-2" style="background-color: #11B5DA; width:20px; height:20px;">
                        </div>
                        <div clas="fs-6">Contact Us</div>
                    </div>
                    <div class="col-sm-12 col-md-8">
                        <div class="">
    <div class="umb-grid">
                <div class="grid-section">
    <div>
            <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div>
                            
    
<p><strong>Contact ABA Hughes: Your Toronto BIM Consultants</strong></p>
<p>Looking to transform your architectural projects and explore the world of Building Information Modeling (BIM)? Reach out to ABA Hughes, your trusted Toronto BIM consultants, and discover how we can elevate your architectural excellence.</p>
<p><strong>Let's Connect:</strong></p>
<p>At ABA Hughes, we're passionate about architectural design, BIM implementation, and offering comprehensive Revit families libraries. We're here to assist you in optimizing your architectural projects, streamlining workflows, and embracing sustainability.</p>
<p><strong>Our Expertise:</strong></p>
<ul>
<li>
<p><strong>BIM Implementation:</strong> Our team specializes in BIM implementation, a cutting-edge approach to construction and architectural design. We can guide you through the process, helping you harness the power of BIM for your projects.</p>
</li>
<li>
<p><strong>Digital Twins:</strong> Explore the world of Digital Twins with us. We're experts in creating digital replicas of physical buildings, enhancing project management, and facilitating data-driven decisions.</p>
</li>
<li>
<p><strong>Revit Families Libraries:</strong> Access our extensive Revit families libraries, offering a wide range of resources for your architectural needs. From Revit families free download options to customized BIM libraries, we have you covered.</p>
</li>
</ul>
<p><strong>Reach Out Today:</strong></p>
<p>Ready to embark on a journey of architectural excellence and sustainability? Have questions about BIM, Digital Twins, or our Revit families libraries? Feel free to contact us via email or phone for inquiries, consultations, or project discussions.</p>
<p><strong>Join Us:</strong></p>
<p>Join ABA Hughes in shaping the future of architectural design. We look forward to connecting with you, understanding your unique needs, and collaborating on projects that redefine the industry.</p>
<p>Don't miss the opportunity to work with Toronto's leading BIM consultants. Contact ABA Hughes today, and let's create innovative and sustainable architectural solutions together.</p>


                </div>
            </div>        </div>
            </div>
    </div>
                </div>
    </div>


</div>
                    </div>
                    <div class="col-sm-12 col-md-2">
                         <h4>Mississauga</h4>
                         <div class="">
                            <span class="d-block">Greater Toronto Area</span>
                            <span class="d-block"><a href="tel:+14167792768">+1 416 779 2768</a></span>
                            <span class="d-block"><a href="mailto:info@abahughes.com">info@abahughes.com</a></span>
                         </div>
                    </div>
                </div>
            </div> 
        </div>
        
        <div class="py-10 pt-lg-16 pb-lg-12 bg-light">
            <div class="container px-0 px-md-10">
                <div class="row">
                    <div class="col-sm-12 col-md-6 mt-2 mb-4 px-5">
                        <picture>
                            <source media="(max-width: 399px)" srcset="/media/giojrr1e/e5391620_9_0.jpg?anchor=center&amp;mode=crop&amp;width=343&amp;height=418&amp;format=jpg&amp;rnd=132923450944470000">
                            <source media="(min-width: 400px)" srcset="/media/giojrr1e/e5391620_9_0.jpg?anchor=center&amp;mode=crop&amp;width=540&amp;height=658&amp;format=jpg&amp;rnd=132923450944470000">
                            <img src="@background.Url()?anchor=center&amp;mode=crop&amp;width=540&amp;height=658&amp;format=jpg&amp;rnd=132923450944470000" alt="A beautiful kitchen view" class="img-fluid" loading="lazy">
                        </picture>
                        
                    </div>
                    <div class="col-sm-12 col-md-6 px-5 pt-2">
<iframe class="airtable-embed" src="https://airtable.com/embed/appBx87nto6E4Gmz1/pag7g2klYEZdx6yKV/form" frameborder="0" onmousewheel="" width="100%" height="533" style="background: transparent; border: 1px solid #ccc;"></iframe>                        
                    </div>
                </div>
            </div>
        </div>
        