<!-- Services section -->
<div id="services" class="py-10 pt-lg-20 pb-lg-12">
   <div class="container">
      <div class="row">
         <div class="col-lg-4 col-md-6 col-12">
            <span class="text-light fw-bold" style="font-size:160px;">01</span>
            <div class="ms-12 mt-n16">
               <h3>Architectural Design</h3>
               <p>Optimize your project with fully coordinated building permit sets, integrating structural and mechanical. Harness the power of BIM and Digital Twins for precision and efficiency.</p>
            </div>
         </div>
         <div class="col-lg-4 col-md-6 col-12">
            <span class="text-light fw-bold" style="font-size:160px;">02</span>
            <div class="ms-12 mt-n16">
               <h3>Project Management</h3>
               <p>Elevate residential and light commercial project management with comprehensive contract administration for construction using Building Information Modeling(BIM)</p>
            </div>
         </div>
         <div class="col-lg-4 col-md-6 col-12">
            <span class="text-light fw-bold" style="font-size:160px;">03</span>
            <div class="ms-12 mt-n16">
               <h3>Related Media</h3>
               <p>Explore architectural visuals: 3D renders, virtual reality, augmented reality, panoramics, and more for immersive experiences using Digital Twins of local products.</p>
            </div>
         </div>
      </div>
   </div>
</div>