@using Umbraco.Cms.Core.Models.PublishedContent
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<IPublishedContent>
@{
   var backgroundImage = Model.Value<IPublishedContent>("background");
}
        
        <div style="background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) ),  url(@backgroundImage.Url()?anchor=center&amp;mode=crop&amp;width=1600&amp;height=400&amp;format=jpg&amp;rnd=132901055269730000); background-size: cover; background-repeat: no-repeat; background-position: center;">
            <div class="container">
                <div class="row align-items-center">
                    <div class="pt-18 pb-13 pt-lg-20 pb-lg-19 text-center text-light">
                        <h1 class="display-3 text-white mb-3 lh-1">Product Data and Specifications Submission</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="py-10 pt-lg-16 pb-lg-12">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-2 mt-2 mb-4">
                        <div class="float-start me-2" style="background-color: #11B5DA; width:20px; height:20px;">
                        </div>
                        <div clas="fs-6">Product Data and Specifications Submission</div>
                    </div>
                    <div class="col-sm-12 col-md-8 mb-10">
                            
    <div class="umb-grid">
                <div class="grid-section">
    <div>
            <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div>
                            
    
<p>At ABA Hughes, we are committed to revolutionizing the architectural and construction industry through cutting-edge technologies like Building Information Modeling (BIM) and Digital Twins. We recognize the pivotal role that comprehensive and up-to-date product data and specifications play in this transformation. That's why we invite and encourage you, as manufacturers, to submit as much product information as you have available for your products through our Product Data and Specifications Submission form.</p>
<p>By sharing detailed product data with us, you not only enhance the visibility of your products but also become an integral part of the BIM and Digital Twins ecosystem. Here's why you should consider submitting your product information:</p>
<ol>
<li>
<p><strong>Amplify Visibility</strong>: Your products will be showcased to a vast network of architects, designers, and builders actively seeking high-quality building materials and products for their BIM projects.</p>
</li>
<li>
<p><strong>Cultivate Trust</strong>: Providing comprehensive product data instills confidence in your offerings, making it easier for professionals to specify and recommend your products in their BIM models and Digital Twins.</p>
</li>
<li>
<p><strong>Stay Cutting-Edge</strong>: In an industry where innovation is paramount, staying up-to-date is crucial. Regular submissions help ensure that your product information reflects any updates, improvements, or new releases, aligning perfectly with BIM practices.</p>
</li>
<li>
<p><strong>Collaboration Opportunities</strong>: ABA Hughes fosters collaboration between manufacturers and industry professionals in the realm of BIM and Digital Twins. Your participation opens doors to potential partnerships and collaborations within the architectural and construction community, leveraging these advanced technologies.</p>
</li>
</ol>
<p>Our Product Data and Specifications Submission form is designed to be user-friendly and efficient, ensuring that your products are not only visible but also seamlessly integrated into BIM models and Digital Twins. We value your contribution to the architectural and construction landscape, and together, we can empower architects and designers to create exceptional, sustainable, and digitally enhanced spaces.</p>
<p>Submit your product information today and be a pivotal part of shaping the future of architecture and construction through BIM and Digital Twins.</p>
<p>Thank you for your commitment to excellence in the industry.</p>


           <iframe class="airtable-embed" src="https://airtable.com/embed/appBx87nto6E4Gmz1/pagP1v93M3ekuVtb0/form" frameborder="0" onmousewheel="" width="100%" height="750" style="background: transparent; border: 1px solid #ccc;"></iframe>                 

                </div>
            </div>        </div>
            </div>
    </div>
                </div>
    </div>



                    </div>
                </div>
            </div>    
        </div>