@using Umbraco.Cms.Core.Models.PublishedContent
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<IPublishedContent>
@{
   var storeImage = Model.Value<IPublishedContent>("storeImage");
}
<!-- Store section -->
<div id="store" class="pt-lg-5 pb-lg-12 mb-12">
   <div class="container">
      <div class="row">
         <div class="col-md-7 col-12">
            <picture>
                <img src="@storeImage.GetCropUrl(width: 626, height: 626)"
                            alt="Architectural Products"
                            loading="lazy"
                            class="img-fluid w-100 p-3 rounded"
                            width="626"
                            height="626">
            </picture>
         </div>
         <div class="col-md-5 col-12 d-flex align-items-center px-10">
            <div class="">
               <h3 class="fs-2">We also assist local Manufacturers to develop Digital Twins of their products.</h3>
               <p>We will produce Digital Twins of your products.
This enables designers and contractors to have a geometrically accurate representation of your product in their projects. This integrates your information and specification during early design.
</p>
                    <p class="fw-bold">
                        <a href="/product-data-and-specifications-submission/">Click here to determine if your product is prepared for its Digital Twin.</a>
                    </p>
 
            </div>
         </div>
      </div>
   </div>
</div>